@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F5DADA;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    margin: 0.5em;

}
  

.navbar .logo-link {
    text-decoration: none;
}

.navbar .logo-link .logo {
    color: #0C0C0C;
    font-weight: 700;
    font-size: 1.2em;

}

.navbar .nav-navbar {
    text-align: center;
  }

.navbar .nav-navbar .nav-ul {
     list-style: none;
     display: inline-block;
  }

.navbar  .nav-navbar .nav-ul .nav-li {
      display: inline-block;
  }

.navbar  .nav-navbar .nav-ul .nav-li a {
      color: #0C0C0C;
      font-weight: 600;
      text-decoration: none;
      font-size: 1em;
      padding: .1em 1em;
      transition: all 1s;
  }


.navbar .nav-navbar .nav-ul .nav-li a:hover{
    background-color: #F19783;
  }


.subtítulo {
    color: #151515;
    letter-spacing: 0.7em;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1em;
    font-size: 1em;
}   /* subtítulos en general */ 


.h1-principal { /* títulos en general */ 
    color: #151515;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 1em;
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);

    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}
.título {
    color: #151515;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4em;
}  /* títulos en index.html */ 

.h3-principal {
    color: #151515;
    margin-bottom: 1em;
}  /* h3 en general */ 

.p-secundario {
    color: #0C0C0C;
    padding: 0.5em;
}  /* párrafos en egeneral */ 

/* --------------------INDEX-------------------------------------- */

.hero  {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.hero .subtítulo .título .paraiso { /* rectángulo palabra paraiso */ 
    position: relative;
    z-index: 1;
    display: block;
}

.hero .linea-horizontal3 { /* rectángulo palabra paraiso */ 
    width: 18.5em;
    border: none;
    background: #F19783;
    height: 2em;
    margin-top: -2.5em;
    margin-left: 12.5em;
    z-index: -1;
    animation-name: linea;
    animation-duration: 4s;
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes linea{
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }

}

.hero .plato-principal { /* imagen plato */ 
    width: 45%; 

}

.hero .plato-principal:hover {
    transform: rotate(180deg);
}

#home {  /* sector home medio */ 
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: auto;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    justify-content: center;
    align-items: center;
    animation: fadeIn 6s forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);

    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

#home .home {  /* sector home medio */ 
    width: 28%;
    text-align: center;
}


#home .home .linea-horizontal {  /* linea home */ 
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    width: 5em;
    margin-left: auto;
    margin-right: auto;

}

#home .home .texto-medio {
    color: #3A3A3A;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}  /* sección index.html */ 

#home .home .texto-chico {
    color: #898989;
    font-weight: 400;
    font-size: 0,7em;
    text-align: center;
}  /* sección index.html */ 

.home2 {
    display: flex;
    flex-flow: row wrap;
}

.restaurante-img {
    max-width:50%;
    height: auto;
    object-fit: cover;
    object-position: left bottom
 }

.home2-box {
    padding: 2em;
    max-width: 50%;
    text-align: left;
    background-color: #F19783;
    border: none;

}

.home2-box .título-secundario {
    color: #151515;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
}

.home2-box .linea-horizontal2 {
    width: 23em;
    background: #F5DADA;
    border: none;
    border-radius: 2px;
    height: .4em;
    margin-left: 0em;
    margin-top: 10px;
    margin-bottom: 10px;
}


.home2-box .boton-reserva {
    background-color: #F19783;
    width: 15em;
    height: 4.5em;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3A3A3A;
    color: white;
    font-weight: bold;
    border-radius: .7em;
    font-size: 0.9em;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 3em;
}

.home2-box .boton-reserva:hover {
    background-color: #eec8c0;
    transform: translatey(2px)

}

  

  
/* ----------------------NOSOTROS.HTML----------------------------- */


.nosotros-titulo{
    color: #3A3A3A;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;

} 

.nosotros-sub{
    color: #0C0C0C;
    font-size: 1.5m;
    margin-bottom: 1em;

} 

.nosotros-texto{
    color:#151515;
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 2em;

} 


.container-nosotros{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.4fr 0.6fr 0.6fr; 
    gap: 0em 0px; 
    margin-top: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: 
      "nosotros-box nosotros-img1 nosotros-img2"
      "nosotros-box nosotros-img3 nosotros-img3"
      "nosotros-img4 nosotros-img4 nosotros-img4"; 
  }
  .nosotros-box { grid-area: nosotros-box; 
                background-color: #F19783;
                padding: 1.5em;
 } 
  .nosotros-img1 { grid-area: nosotros-img1; 
                   overflow: hidden;
                   transition: filter 2s ease-out;
}

    .nosotros-img1:hover {
                    filter: grayscale(100%);
    }

  .nosotros-img2 { grid-area: nosotros-img2; 
                   overflow: hidden;
                   transition: filter 1s ease-out;
                   transition: all .2s ease-in-out;
}
    .nosotros-img2:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }


  .nosotros-img3 { grid-area: nosotros-img3; 
                   overflow: hidden;
                   transition: filter 1s ease-out;
}
    .nosotros-img3:hover {
        filter: grayscale(100%);
    }

  .nosotros-img4 { grid-area: nosotros-img4; 
                   overflow:hidden;
                   width: 100%;
                   background-size: cover;
}


/*----------------- MENU.HTML-------------------------------- */

/* que no se vea

.section-menu .menu-tabla {
    width: 70%;
    margin-right:auto;
	margin-left:auto;
    margin-bottom: 1%;
    background-color: whitesmoke;
    border-radius: 0.5em;
    padding: 0 2em;
}

.section-menu .menu-tabla tr th {
    color: #F19783;
    border: 0.1em solid #151515;
    border-radius: 0.5em;
}  

.section-menu .menu-tabla tr td {
    color: #0C0C0C;
    text-align: center;
} 

.section-menu .menuTabla ol li {
    color: #151515;
    text-align: center;
    list-style: upper-roman;
} 

 que no se vea */

.container-menu {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 100vh;
    margin-bottom: 10px;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .panel .box-menu {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);

  }
  
 .menu-pasos {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
    text-align: center;
  }

 .menu-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .menu-header {
    color: #3A3A3A;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .menu-contenido {
    color: #151515;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .menu-contenido-item {
    border-top: 1px solid #F19783;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    list-style: none;
  }
  
  .menu-precio {
    color: #F19783;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .menu-boton {
    border: 1px solid #F19783;
    border-radius: 10px;
    color: #F19783;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .menu-boton:hover,
  .menu-precio:focus {
    background-color:#eec8c0;
  }
  

/* ---------------RESERVA.HTML ------------------*/


.reservas-imagen {

    background-image: url("/assets/images/reservasimg.png");
    background-color: #F5DADA;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 30em;
    position: relative;

}


.section-reserva{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3em;


.section-reserva .fieldset-principal {
    width: 25%;
    margin-right:auto;
	margin-left:auto;
    border-style: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 3em;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);

}

.section-reserva .fieldset-principal .fieldset-secundario {
    border-radius: 10px;
    border-color: #F19783;
    border-style:solid;
    padding: 0.5em;
    
}

.section-reserva .fieldset-principal .reserva {
    color: #F19783;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
} /* formularios reserva.html */ 

.section-reserva .fieldset-principal .formulario-reserva {
    color: #3A3A3A;
    font-size: 0.8em;
    font-weight:700;
} /* formularios reserva.html */ 

.section-reserva .fieldset-principal .fieldset-secundario .valet-parking {
    color:#151515;
    font-size: 0.6em;
} /* formularios reserva.html */ 

.section-reserva input[type=text], 
.section-reserva input[type=date],
.section-reserva input[type=email],
textarea, 
select{
	border:1px solid #F19783;
	padding: 7px;
	margin:0px;
	outline: none;	
    width: 100%;
}

.section-reserva input[type=text]:focus, 
.section-reserva input[type=date]:focus,
.section-reserva input[type=email]:focus,
.section-reserva textarea:focus, 
.section-reserva select:focus{
	box-shadow: 0 0 8px #F19783;
	border: 1px solid #F19783;
}


.section-reserva .formulario-reserva{
	width: 100%;

}

.section-reserva .formulario-reserva .formulario-textarea{
	height: 100px;
}

.section-reserva  input[type=submit], .section-reserva  input[type=button]{
	background:#F19783;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.section-reserva  input[type=submit]:hover, .section-reserva  input[type=button]:hover{
	background:#898989;

}

.section-reserva  input[type=reset], .section-reserva  input[type=button]{
	background:#F19783;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.section-reserva  input[type=reset]:hover, .section-reserva  input[type=button]:hover{
	background:#898989;

}
}


/* ---------------CONTACTO.HTML--------------------------- */


.section-contact {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 100vh;
    margin-bottom: 10px;
  }
  
  .panel-contacto {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 60%;
    margin-right:auto;
	margin-left:auto;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  }
  

.section-contacto .mapa {
    display: inline-block;
    padding: 1em;
}

.section-contacto .dirección {
    padding: 1em;
    line-height: 3em;
    width: 40%;
    height: 45%;
    vertical-align:top;
    display: inline-block;
}

.section-contacto .dirección .dirección-texto {
    font-size: 1.2em;
    color: #F19783;
    margin: 0;
    text-align: center;
    border-top: 1px solid #F19783;
    border-bottom: 1px solid #F19783;
    line-height: 1.5;
    padding: 15px 0;
    list-style: none;
}

  #container-suscribirse .suscribirse {
    letter-spacing: 2px;
    font-size: 1.2em;
    color: #3A3A3A;
    margin: 0;
    text-align: center;
    
  }

  #container-suscribirse input {
    width: 210px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background: #eee;
    padding: 1em 2em;
    outline: none;
    border: none;
    color: #151515;
    transition: 0.3s linear;
  }
  ::placeholder{color: #999;}
  #container-suscribirse input:focus {background: #F19783;}
  
  #container-suscribirse button {
    background-image: linear-gradient(to bottom, #f19783 20%, #b85e4a 100%);
    box-shadow: 0 3px 10px -2px gray;
    padding: 0.5em 1.9em;
    margin: 2.3em 0 0 0;
    border-radius: 4px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
    transition: 0.3s linear;
  
  }
  #container-suscribirse button:hover{transform: translatey(2px);}


/* ------------------FOOTER------------------------------------ */


.footer {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    background-color: #151515;
    color: #F5DADA;
    flex-basis: 100%;
    height: 7em; 
}

.footer ul {
    padding:1em;
    list-style:none;
    text-align:center;
    font-size: 0.7em;
    line-height:1.6;
    margin-bottom:0;
    
  }
  
  .footer li {
    padding:0 10px;
    display: inline-block;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer ul a:hover {
    opacity:1;
  }
  
  .footerCopyright {
    margin-top:15px;
    text-align:center;
    font-size:0.8em;
    color: #F19783;
    margin-bottom:1em;
  }

/* MÓVILES PEQUEÑOS */

  @media only screen and (max-device-width: 480px) {
    .navbar{
       flex-flow: column nowrap;
    }

    .navbar .logo-link .logo {
        font-size: 0.8em;  
    }

    .navbar  .nav-navbar .nav-ul .nav-li a {
    font-size: 0.5em;
    padding: 0.2em;
    }

    .subtítulo {
        letter-spacing: 0.4em;
        font-size: 0.6em;
    }   /* subtítulos en general */ 
    
    .título {
        font-size: 2em;
    }  /* títulos en index.html */ 

    .hero  {
        height: 16em;
    }
    
    
    .hero .linea-horizontal3 { /* rectángulo palabra paraiso */ 
        display: none;
        animation-name: none;
    }
    
    #home {  /* sector home medio */ 
        flex-flow: column;
        height: 20em;
        animation: none;
    }

    
    #home .home .texto-medio {
        font-size: 0.6em;
        margin-top: 0.5em;
    }  /* sección index.html */ 
    
    #home .home .texto-chico {
        font-size: 0.5em;
        margin-bottom: 1.5em;
    }  /* sección index.html */ 
    
    .home2 {
        flex-flow: column;
    }
    
    .restaurante-img {
    max-width:100%;
    height: 10em;
    object-fit: cover;
    object-position: left bottom
    }
    
    .home2-box {
        padding: 1.5em;
        max-width: 100%;
    
    }
    
    .home2-box .título-secundario {
        font-size: 1em;
    }

    .home2-box .texto-principal {
        font-size: 0.7em;
    }
    
    .home2-box .linea-horizontal2 {
        width: 12em;
        height: .2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    
    .home2-box .boton-reserva {
        width: 10em;
        height: 3em;
        font-size: 0.8em;
        margin-top: 2em;
    }
    
    .home2-box .boton-reserva:hover {
        transform: none;
    
    }
    
    .footer {
        height: 6em; 
    }
    
    .footer ul {
        padding: 0.7em;
        font-size: 0.6em;    
      }
      
      .footerCopyright {
        margin-top:10px;
        font-size:0.8em;
        margin-bottom:0.5em;
      }

} 

/* DEVICES MEDIOS */

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {

    .navbar{
        flex-flow: column nowrap;
     }
 
     .navbar .logo-link .logo {
         font-size: 1em;  
     }
 
     .navbar  .nav-navbar .nav-ul .nav-li a {
     font-size: 0.6em;
     padding: 0.5em;
     }
 
     .subtítulo {
         letter-spacing: 0.4em;
         font-size: 0.6em;
     }   /* subtítulos en general */ 
     
     .título {
         font-size: 2em;
     }  /* títulos en index.html */ 
 
     .hero  {
         height: 50%;
     }
     
     
     .hero .linea-horizontal3 { /* rectángulo palabra paraiso */ 
        width: 9em;
        height: 1.5em;
        margin-top: -1.7em;
        margin-left: 6em;
        z-index: -1;
        animation: none;

     }
     
     #home {  /* sector home medio */ 
         height: 15em;
         animation: none;
     }
 
     
     #home .home .texto-medio {
         font-size: 0.8em;
     }  /* sección index.html */ 
     
     #home .home .texto-chico {
         font-size: 0.7em;
     }  /* sección index.html */ 
     
     .home2 {
         flex-flow: column-reverse;;
     }

     .restaurante-img {
        max-width:100%;
        height: 15em;
        object-fit: cover;
        object-position: left bottom
     }
     
     .home2-box {
         padding: 1.5em;
         max-width: 100%;
     
     }
     
     .home2-box .título-secundario {
         font-size: 1.3em;
     }
 
     .home2-box .texto-principal {
         font-size: 0.8em;
     }
     
     .home2-box .linea-horizontal2 {
         width: 15em;
         height: .3em;
         margin-top: 11px;
         margin-bottom: 11px;
     }
     
     
     .home2-box .boton-reserva {
         width: 12em;
         height: 3.2em;
         font-size: 0.9em;
         margin-top: 2.3em;
     }
     
     .home2-box .boton-reserva:hover {
         transform: none;
     
     }
     
     .footer {
         height: 7em; 
     }
     
     .footer ul {
         padding: 0.7em;
         font-size: 0.7em;    
       }
       
       .footerCopyright {
         margin-top:10px;
         font-size:0.9em;
         margin-bottom:0.5em;
       }
}